<!DOCTYPE html>
<html>
  <head>
    <title>Budget App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "/assets/application.js", "data-turbo-track": "reload", defer: true %>
    <%= javascript_importmap_tags %>
    <%= favicon_link_tag asset_path('crown.png') %>
  </head>

  <body>
    <% if user_signed_in? %>
      <nav class="navbar navbar-light bg-primary text-light p-3 position-relative w-100 top-0 start-0">
        <p></p>
        <h1>FAYOB</h1>
        <%= button_to "Log out", destroy_user_session_path, method: :delete, class: "btn btn-outline-light" %>
      </nav>
    <%# <% else %>
      <%# <%= link_to "Sign Up", new_user_registration_path %>
      <%# <%= link_to "Sign in", new_user_session_path %>
    <% end %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
